/* Big Shoulders Display */
@font-face {
   font-family: "BigShouldersDisplay";
   src: url("../font/Big_Shoulders_Display/BigShouldersDisplay-Regular.ttf");
   font-weight: 300;
}
@font-face {
   font-family: "BigShouldersDisplay";
   src: url("../font/Big_Shoulders_Display/BigShouldersDisplay-Bold.ttf");
   font-weight: 500;
}
@font-face {
   font-family: "BigShouldersDisplay";
   src: url("../font/Big_Shoulders_Display/BigShouldersDisplay-Black.ttf");
   font-weight: 600;
}

/* Quicksand */
@font-face {
   font-family: "Quicksand";
   src: url("../font/Quicksand/Quicksand-Regular.ttf");
   font-weight: 200;
}
@font-face {
   font-family: "Quicksand";
   src: url("../font/Quicksand/Quicksand-Medium.ttf");
   font-weight: 300;
}
@font-face {
   font-family: "Quicksand";
   src: url("../font/Quicksand/Quicksand-SemiBold.ttf");
   font-weight: 400;
}
@font-face {
   font-family: "Quicksand";
   src: url("../font/Quicksand/Quicksand-Bold.ttf");
   font-weight: 500;
}

/* Variables */
:root {
   /* Colours */
   --base-blue: rgb(38, 54, 67);
   --secondary-blue: rgb(33, 111, 160);
   --border-blue: rgb(0, 114, 207);
   --background-blue: rgb(147, 222, 254);
   --light-highlight: rgb(0, 238, 222);
   --dark-highlight: rgb(32, 165, 241);
   
   /* Sizes */
   --main-pad-height: 50px;
   --second-pad-height: 20px;
   --button-height: 40px;
   --border-width: 2px;
}

body {
   font-family: "Quicksand";
   font-weight: 300;
   font-size: 16px;
   line-height: 180%;
   /*overflow-x: hidden;*/
}
::selection {
   background-color: var(--base-blue) !important;
   color: white;
}

h1 {
   font-family: "BigShouldersDisplay";
   font-weight: 600;
   font-size: 50px;
   text-align: center;
}
   h1 em.subtitle {
      font-family: "Quicksand";
      font-weight: 400;
      display: block;
      font-size: 20px;
      font-style: normal;
      text-transform: uppercase;
   }
   h1:first-of-type {
      margin-top: 35px;
   }

   .header-background h1 {
      color: white;
   }

   h1 em.subtitle {
      margin-bottom: var(--main-pad-height);
   }


h2 {
   font-family: "BigShouldersDisplay";
   font-weight: 500;
   font-size: 40px;
}
   h2:first-of-type {
      margin-top: 35px;
   }

h3 {
   font-family: "Quicksand";
   font-weight: 500;
   font-size: 20px;
   text-transform: uppercase;
   margin-top: 15px;
}

/* Smaller fonts at smaller sizes */
@media (max-width: 450px) {
   h1 {
      font-size: 35px;
   }
   h2 {
      font-size: 25px;
   }
   h3 {
      font-size: 17px;
   }
}

ul.list {
   list-style: none;
   padding-left: 0;
   font-size: 120%;
   font-weight: 400;
}
ul.list li {
   margin-top: var(--second-pad-height);
}

a {
   color: var(--border-blue);
   transition: all 0.2s ease;
}
a:hover,
a:focus {
   color: var(--background-blue);
   text-decoration: none;
}

.larger {
   font-size: 120%;
   font-weight: 300;
   line-height: 140%;
}

/* Button links */
a.button,
button {
   background-color: var(--border-blue);
   border: var(--border-width) solid var(--border-blue);
   color: white;
   font-family: Quicksand;
   text-transform: uppercase;
   padding: 5px 15px;
   width: 250px;
   display: block;
   text-align: center;
   border-radius: 30px;
   transition: all 0.2s ease;
   margin-bottom: var(--main-pad-height);
   margin-top: calc(var(--main-pad-height) * 0.75);
   font-weight: 500;
   user-select: none;
   height: var(--button-height);
}
a.button.small-margin {
   margin: 5px;
   margin-bottom: 0;
   margin-right: 10px;
   width: 100%;
}
   a.button:hover,
   a.button:focus,
   button:hover,
   button:focus {
      text-decoration: none;
      border: var(--border-width) solid white;
   }
   a.button:active,
   button:active {
      background-color: white;
      border: var(--border-width) solid var(--border-blue);
      color: var(--border-blue);
   }
   a.centered,
   button.centered {
      margin-left: auto;
      margin-right: auto;
   }
   a.left-align {
      margin-left: 0;
      margin-right: auto;
   }
   a.right-align {
      margin-right: 0;
      margin-left: auto;
   }

   nav a.button {
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
      background-color: var(--secondary-blue);
      border-color: var(--secondary-blue);
      margin-top: 0;
      margin-bottom: 0;
   }
   nav a.button:hover,
   nav a.button:focus {
      color: white;
   }
   nav a.button:active {
      color: var(--border-blue);
   }

/* Form */
input[type=text],
textarea {
   border: var(--border-width) solid var(--border-blue);
   border-radius: 20px;
   color: var(--border-blue);
   padding: 5px 15px;
   transition: all 0.2s ease;
   line-height: 120%;
   display: block;
   width: 100%;
   height: var(--button-height);
   margin-top: 10px;
   margin-bottom: 10px;
}
textarea {
   min-height: 100px;
   padding-top: 10px;
   padding-bottom: 10px;
}
   input[type=text]:hover,
   input[type=text]:focus,
   textarea:hover,
   textarea:focus {
      border: var(--border-width) solid var(--dark-highlight);
      outline: none !important;
   }
   input[type=text]:active,
   textarea:active {
      outline: none !important;
      border: var(--border-width) solid var(--dark-highlight);
   }

   .abutted {
      display: flex;
   }

   .abutted button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-top: 10px;
      min-width: 250px;
      box-sizing: border-box;
      width: auto;
   }

   .abutted input[type=text] {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
   }

/* Header */
img.header-logo {
   height: 40px;
}
@media (min-width: 750px) {
   .nav-container {
      margin-left: 5%;
      margin-right: 5%;
   }
}
@media (max-width: 700px) {
   .nav-container {
      border: 1px solid red;
   }

   img.header-logo {
      height: 30px;
   }

   li.nav-item {
      font-size: 80%;
   }

   .nav-container a.button {
      padding-top: 5px;
      height: 30px;
      padding-top: 0;
      line-height: 25px;
   }
}
@media (max-width: 540px) {
   .remove-small {
      display: none;
   }
}
ul.navbar-nav {
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: flex-end;
   width: 90%;
   float: right;
}
.nav-container {
   display: block;
   width: 100%;
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
   .nav-container {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      display: block !important;
   }
}
nav li.nav-item a {
   text-transform: uppercase;
   margin-top: 15px;
}
nav li.nav-item a.button {
   margin-top: 0;
}
nav li.nav-item {
   padding-left: 5%;
}
nav li.nav-item:last-of-type {
   padding-right: 0;
}
nav .logo-area {
   float: left;
   width: 10%;
}


/* Footer */
footer {
   background-color: var(--base-blue);
   color: white;
   padding-bottom: calc(var(--main-pad-height) * 0.5);
}
   footer a,
   nav a {
      color: white;
      transition: 0.2s ease all;
   }
   footer a:link,
   nav a:link {
      font-weight: bold;
   }
   footer a:hover,
   footer a:focus,
   nav a:hover,
   nav a:focus {
      text-decoration: none;
      color: var(--dark-highlight);
   }
   footer a:active,
   nav a:active {
      color: var(--border-blue);
   }

   footer h3 {
      color: white;
      margin-top: var(--main-pad-height);
      margin-bottom: calc(var(--main-pad-height) * 0.25);
   }

   @media(max-width: 575px) {
      footer h3 {
         margin-top: 15px;
      }
      footer h3.navigation-link {
         margin-top: var(--main-pad-height);
      }
   }

   footer ul {
      padding-left: 0;
   }
      footer ul li {
         display: block;
      }
   footer h3 ~ p {
      margin-top: calc(var(--main-pad-height) * 0.25);
   }

small { /* Legal text */
   display: block;
   text-align: center;
}

/* Home page header */
.home-header {
   background-image: url(../../images/dental-redo-woman.jpg);
   background-size: cover;
   min-height: 500px;
   height: 100vw;
   max-height: 50vh;
   background-attachment: fixed;
   background-position: bottom left;
   background-repeat: no-repeat;
   background-size: cover;
}
   .home-header h1 {
      color: white;
   }
.home-row {
   background-color: rgba(0,0,0,0.5);
   height: 100%;
}

/* Products (services) */
ul.products {
   display: flex;
   justify-content: space-between;
   padding: 0;
   user-select: none;
   margin-top: 30px;
}

   ul.products li {
      display: block;
      width: 30%;
   }

      @media screen and (max-width: 800px) {
         ul.products li {
            width: 100%;
         }
      }

   div.product {
      border: var(--border-width) solid var(--border-blue);
      width: 120px;
      height: 120px;
      border-radius: 60px;
      margin-left: auto;
      margin-right: auto;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
   }

      ul.products .product-dentures {
         background-image: url(../../images/product/crowns.png);
      }

      ul.products .product-night-guard {
         background-image: url(../../images/product/night-guard.jpg);
      }

      ul.products .product-tooth-treatment {
         background-image: url(../../images/product/tooth-treatment.jpg);
      }
      ul.products .product-herbst-appliance {
         background-image: url(../../images/product/herbst-appliance.jpg)
      }
      ul.products .product-tap-3 {
         background-image: url(../../images/product/tap-3.jpg);
      }
      ul.products .product-fluoride-tray {
         background-image: url(../../images/product/fluoride-tray.jpg);
      }

      ul.products .product-custom-abutement {
         background-image: url(../../images/product/custom-abutement.jpg);
      }

      ul.products .product-snap-on-smile {
         background-image: url(../../images/product/Snap-on-Smile.jpg);
         background-size: 70%;
      }

      ul.products .product-milled-implant-bar {
         background-image: url(../../images/product/milled-implant-bar.jpg);
      }

   ul.products h3 {
      display: block;
      text-align: center;
      margin-top: 18px;
      margin-bottom: 10px;
      font-size: 14px;
   }

   ul.products p {
      margin-top: 0;
      font-size: 16px;
   }

   button[data-controls="prev"],
   button[data-controls="next"] {
      display: none;
   }

   /* slider navigation dots */
   div.tns-outer {
      display: flex;
   }

      div.tns-nav {
         position: absolute;
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: center;
         order: 2;
         margin-left: -15px;
      }

      div.tns1-mw {
         break-before: always;
         order: 1;
      }

      button[data-nav] {
         background-color: white;
         border: var(--border-width) solid var(--border-blue);
         height: 13px;
         width: 13px;
         padding: 0 0 0 0;
         margin: 5px 5px 5px 5px;
         border-radius: 6.5px;
         outline: 0 !important;
         transition: all ease 0.2s;
      }
         button[data-nav]:hover {
            background-color: var(--border-blue);
            border-color: white;
         }
         button[data-nav]:active {
            border-width: 2px;
         }
         button[data-nav].tns-nav-active {
            background-color: var(--border-blue);
         }

/* Column */
.blue-gradient {
   background: linear-gradient(0deg, rgba(33,111,160,0.494733879880077) 0%, rgba(255,255,255,0) 30%);
}

/* Rows */
.special-smiling-dentist {
   background-image: url(../../images/loren-ford-cutout.png);
   background-position-x: right;
   background-position-y: bottom;
   background-size: contain;
   background-repeat: no-repeat;
}
.special-dentures {
   background-image: url(../../images/dentures.jpg);
   background-position-x: left;
   background-position-y: bottom;
   background-size: contain;
   background-repeat: no-repeat;
}
.location-map {
   background-image: url(../../images/TFDL-map.jpg);
   min-height: 500px;
   height: 100vw;
   max-height: 50vh;
   background-size: cover;
   background-position-x: 40%;
}
@media(max-width: 575px) {
   .tall-when-small {
      height: 500px;
   }

   .special-smiling-dentist {
      background: none;
   }

   .special-dentures {
      background: none;
   }
}
@media(min-width: 760px) {
   .special-smiling-dentist {
      background-position-x: 90%;
   }
}
@media(max-width: 820px) {
   .special-dentures {
      background-position-x: -10%;
   }
}
@media(max-width: 760px) {
   .special-dentures {
      background-position-x: -40%;
   }
}
@media(max-width: 640px) {
   .special-dentures {
      background-position-x: -60%;
   }
}
@media(min-width: 1380px) {
   .special-smiling-dentist {
      background-position-x: 85%;
   }
}
@media(min-width: 1620px) {
   .special-smiling-dentist {
      background-position-x: 80%;
   }
}

.header-background {
   background-image: linear-gradient(to bottom, var(--secondary-blue), var(--base-blue));
}

/* Bootstrap overrides */
.bg-dark {
   background-color: var(--base-blue) !important;
}
.nav-link {
   color: white;
}

.margin-bottom {
   margin-bottom: var(--second-pad-height);
}
.margin-top {
   margin-top: var(--second-pad-height);
}
.no-margin-bottom {
   margin-bottom: 0;
}

.specials-background {
   background-image: linear-gradient(var(--dark-highlight), var(--background-blue));
}
   .specials-background h1,
   .specials-background h2,
   .specials-background h3,
   .specials-background p,
   .specials-background ul li {
      color: white;
   }

   a.button.wide {
      margin-top: var(--second-pad-height);
      width: 100%;
   }

   .specials-image {
      margin-left: auto;
      margin-right: auto;
      margin-top: var(--main-pad-height);
      margin-bottom: -10px;
      padding-left: 10vw;
      padding-right: 10vw;
      max-width: 600px;
      width: 100%;
      display: block;
   }

.add-area {
   display: flex;
   flex-direction: column;
}
   h2.add-area-title {
      margin-bottom: var(--main-pad-height);
      margin-left: auto;
      margin-right: auto;
   }
   .add-area a.button {
      width: 30%;
      min-width: 400px;
      margin-top: var(--second-pad-height);
   }
   .add-row {
      width: 100%;
      display: flex;
      flex-direction: row;
   }
   .flip .add-row {
      flex-direction: row-reverse;
   }
   .flip a.button {
      align-self: flex-end;
   }
   .add-row ul {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 0;
      bottom: 0;
      padding-left: var(--main-pad-height);
      padding-right: var(--main-pad-height);
   }
   .add-row li {
      list-style-type: none;
      font-size: 150%;
      margin-top: var(--second-pad-height);
   }
      .add-row li:before {
         content: "✓";
         font-size: 120%;
         padding-right: 10px;
      }

   .add-box {
      background-color: var(--border-blue);
      border-radius: 20px;
      padding: var(--second-pad-height);
      border: var(--border-width) var(--border-blue) solid;
      width: 30%;
      min-width: 400px;
   }
   @media(max-width: 800px) {
      .add-row,
      .flip .add-row {
         flex-direction: column;
      }
      .add-area {
         margin-left: 15px;
         margin-right: 15px;
         min-width: 0;
      }
      .add-box {
         width: 100%;
         min-width: unset;
      }
      .add-row li {
         font-size: 110%;
         margin-top: 10px;
      }
      .add-area a.button {
         min-width: unset;
         margin-left: auto;
         margin-right: auto;
         min-width: 250px;
      }
   }